:root {
  --btn-size: 2rem;
  --spacer: 0.5rem;
  --bg: #000000ab;
}

.tooltip {
  /*  POSITIONING  */
  position-area: bottom;
  margin-top: var(--spacer);
  max-width: 300px;

  /*  etc  */
  background: var(--bg);
  color: white;
  border: none;
  padding: 0 1rem;
  overflow: visible;
  border-radius: 1rem;

  &::before {
    content: "";
    position: absolute;
    top: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 1rem;
    height: 0.5rem;
    background-color: var(--bg);
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
  }
}
