@layer {
  body {
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    padding: 0;
    margin: 0;

    /*防止margin塌陷，overflow没有用*/
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    #root {
      /*同理，防margin塌陷*/
      display: flex;
      flex-direction: column;
      overflow: auto;
    }
  }
}
